include AUTHORS
include CHANGELOG
include COPYING
include INSTALL
include NEWS
include README.rst
include THANKS
include TODO
include FAQ

include setup.py
include hmmuscmodule.c

include hmmguts/hmmguts.c
include hmmguts/hmmguts.h

recursive-include doc *.html
recursive-include example *.py

recursive-include hmmus *.py

recursive-include bin *
