include AUTHORS
include COPYING
include INSTALL
include README.rst

include setup.py
include hmmusbufmodule.c
include hmmusnodiskmodule.c

include hmmguts/hmmguts.c
include hmmguts/hmmguts.h

recursive-include doc *.html
recursive-include example *.py

recursive-include hmmus *.py

recursive-include bin *
