include AUTHORS
include CHANGELOG
include COPYING
include INSTALL
include MANIFEST
include NEWS
include README
include THANKS
include TODO
include FAQ

include setup.py
include hmmuscmodule.c

include hmm-forward
include hmm-backward
include hmm-posterior
include hmm-demo
include view-matrix

include hmmguts/hmmguts.c
include hmmguts/hmmguts.h

recursive-include doc *.html
recursive-include example *.py
recursive-include test *.py

recursive-include hmmus *.py
